@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Theme */

:root {
  --bg: #e6f0f3;
  --fg: #1c2627;
  --off: #cfdadd;
  --highlight: #1f7a96;
}

/* Resets */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Open Sans', sans-serif;
}

/* Layout */

header, main, footer {
  flex-shrink: 0;
}

main {
  margin: 0 25%;
  font-size: 1.2em;
  flex-grow: 1;
  line-height: 1.5em;
}

p {
  line-height: 1.7em;
}

@media only screen and (max-width: 1000px) {
  main {
      margin: 0 10%;
  }
}

article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Links */

a {
  color: var(--highlight);
  text-decoration: none;
}

a:hover {
  border-bottom: solid 1px;
}

/* Header */

header {
  border-bottom: solid;
  display: flex;
  justify-content: space-between;
  padding: 1vh;
}

header > h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
}

/* Override normal link styling */
header a, header a:hover {
  color: var(--fg);
}

header > h1 a, header > h1 a:hover {
  border: none;
}

/* Footer */

footer {
  padding: 1vh;
  text-align: center;
}

/* Code */

p > code {
  background-color: white;
  padding: 3px;
}

pre, div.sourceCode {
  background-color: white;
  padding: 20px;
}