body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f4e3;
  color: #595959;
  font-family: 'Source Sans Pro', sans-serif;
}

#wrapper {
  max-width: 700px;
  margin: 100px auto;
}

a {
  text-decoration: none;
  color: inherit;
}
